* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h1{
  font-size: 36px;
  margin: 2rem;
}

.App input, .App label{
  width: 20rem;
  font-size: 2rem;
  padding-left: 0.5rem;
}

.App button{
  width: 15rem;
  font-size: 2rem;
  margin: 2rem;
  padding: 0.5rem;
}
.listItem {
  border: solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listItem input{
  width: 15rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.listItem button{
  width: 10rem;
  font-size: 1rem;
  margin: 0.5rem;
}